*{
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}
/*XXL*/
@media screen and (min-width: 1201px) {
    /*body{
    background-color: grey !important;
    }*/
    /*LOGOTIPOS CABEÇALHO*/
    .logo{
        width: 20%;
        height: auto;
        top: 0;
    }
    .logo_mc{
        width: 15%;
        height: auto;
        position: absolute;
        right: 55px;
        top: 70px;
    }
    .logo_face{
        width: 40px;
        height: 40px;
        position: absolute;
        right: 170px;
        top: 135px;
    }
    .logo_insta{
        width: 40px;
        height: 40px;
        position: absolute;
        right: 100px;
        top: 135px;
    }
    .linha1{
        display: flex;
        flex-flow: row wrap;
        position: absolute;
        top: 240px;
        width: 100%;
    }
    .coluna-20{
        width: 33.33%;
    }
    .logo_hotel{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        height: 200px;
        border-radius: 10%;
    }
    .hotel{
        text-align: center;
        font-family: 'BaskOldFace', 'Baskerville Old Face';
        font-size: 45px;
    }
    .logoatl{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        height: auto;
        border-radius: 10%;
        
    }
    .atl{
        text-align: center;
        font-family: 'BaskOldFace', 'Baskerville Old Face';
        font-size: 45px;
    }
    .logo_tosquia{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        height: 200px;
        border-radius: 10%;
    }
    .tosquia{
        text-align: center;
        font-family: 'BaskOldFace', 'Baskerville Old Face';
        font-size: 45px;
    }
     /*texto final*/
    .texto{
         position: absolute;
        top: 530px;
        width: auto;
        height: auto;
        margin-left: 15px;
    }
}
/*XL*/
@media screen and (max-width: 1200px) {
    body{
    background-color: yellow !important;
    }
    .logo_face{
        width: 40px;
        height: 40px;
        position: absolute;
        right: 125px;
        top: 125px;
    }
    
    .logo_insta{
        width: 40px;
        height: 40px;
        position: absolute;
        right: 60px;
        top: 125px;
    }
    .logo_mc{
        width: 15%;
        height: auto;
        position: absolute;
        right: 35px;
        top: 70px;
    }
    .atl{
        text-align: center;
        font-size: 36px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }
    .atalho{
        font-size: 16px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }
    .linha1{
        display: flex;
        flex-flow: row wrap;
        position: absolute;
        top: 40%;
        width: 100%;
    }
    
    .coluna-20{
        width: 33.33%;
    }
    
    .logo_hotel{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: auto;
    }
    
    .hotel{
        text-align: center;
    }
    
    .logoatl{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: auto;
        
    }
    
    .atl{
        text-align: center;
    }
    .logo_tosquia{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: auto;
    }
    
    .tosquia{
        text-align: center;
    }
}
/*LARGE*/
@media screen and (max-width: 992px) {
    body{
    background-color: lightblue !important;
    }
    .logo_face{
        width: 40px;
        height: 40px;
        position: absolute;
        right: 125px;
        top: 115px;
    }
    
    .logo_insta{
        width: 40px;
        height: 40px;
        position: absolute;
        right: 60px;
        top: 115px;
    }
    .logo_mc{
        width: 15%;
        height: auto;
        position: absolute;
        right: 35px;
        top: 70px;
    }
    .atl{
        text-align: center;
        font-size: 36px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }
    .atalho{
        font-size: 16px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }
    .linha1{
        display: flex;
        flex-flow: row wrap;
        position: absolute;
        top: 250px;
        width: 100%;
    }
    
    .coluna-20{
        width: 33.33%;
    }
    
    .logo_hotel{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 45%;
        height: auto;
    }
    
    .hotel{
        text-align: center;
    }
    
    .logoatl{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 45%;
        height: auto;
        
    }
    
    .atl{
        text-align: center;
    }    
    .logo_tosquia{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 45%;
        height: auto;
    }
    
    .tosquia{
        text-align: center;
        margin-top: 50px;
    }
}
/*MEDIUM*/
@media screen and (max-width: 768px) {
    body{
        background-color: green !important;
    }
    .logo_face{
        display: none;
    }
    
    .logo_insta{
        display: none;
    }
    .logo{
        width: 200px;
        height: auto;
        top: 0;
    }
    .logo_mc{
        width: 160px;
        height: auto;
        position: absolute;
        right: 35px;
        top: 70px;
    }
    .atl{
        text-align: center;
        font-size: 36px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        margin-top: 50px;
    }
    .atalho{
        font-size: 16px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }
    .linha1{
        display: flex;
        flex-flow: row wrap;
        position: absolute;
        top: 250px;
        width: 100%;
    }
    
    .coluna-20{
        width: 33.33%;
    }
    
    .logo_hotel{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        height: auto;
    }
    
    .hotel{
        text-align: center;
    }
    
    .logoatl{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        height: auto;
        
    }        
    .logo_tosquia{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        height: auto;
    }
    
    .tosquia{
        text-align: center;
        margin-top: 50px;
    }
}
/*SMALL*/
@media screen and (max-width: 576px) {
    body{
        background-color: orange !important;
    }
    .logo_face{
        display: none;
    }
    
    .logo_insta{
        display: none;
    }
    .logo{
        width: 180px;
        height: auto;
        margin-top: 30px;
    }
    .logo_mc{
        width: 160px;
        height: auto;
        position: absolute;
        right: 35px;
        top: 70px;
    }
    .atl{
        text-align: center;
        font-size: 36px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        margin-top: 50px;
    }
    .atalho{
        font-size: 16px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }
    .linha1{
        display: flex;
        flex-flow: row wrap;
        position: absolute;
        top: 250px;
        width: 100%;
    }
    
    .coluna-20{
        width: 33.33%;
    }
    
    .logo_hotel{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        height: auto;
    }
    
    .hotel{
        text-align: center;
    }
    
    .logoatl{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        height: auto;
        
    }        
    .logo_tosquia{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        height: auto;
    }
    
    .tosquia{
        text-align: center;
        margin-top: 50px;
    }
}