*{
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
}
.logo{
    width: 20%;
    height: auto;
    top: 0%;


}
.menu_home{ /*botão sobre*/
    background-color: grey;
    width: auto;
    height: 5%;
    border-radius: 10%;
    text-align: center;
    font-family: arial, serif;
    font-size: 32px;
    color: white;
    position: absolute;
    left: 55%;
    top: 10%;
    
}
.menu_contacto{/*botão contacto*/
    background-color: grey;
    width: auto;
    height: 5%;
    border-radius: 10%;
    text-align: center;
    font-family: arial, serif;
    font-size: 32px;
    color: white;
    position: absolute;
    left: 65%;
    top: 10%;
}

.logo_mc{
    width: 15%;
    height: auto;
    position: absolute;
    left: 85%;
    top: 4%;
}

.logo_face{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 90%;
    top: 10%;
}

.logo_insta{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 95%;
    top: 10%;
}
.cc{
    text-align: center;
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.atalho{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.linha1{
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    top: 40%;
    width: 100%;
}

.coluna-20{
    width: 25%;
}

.logo_bdf{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
}

.bdf{
    text-align: center;
}

.logocc{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
    
}

.cc{
    text-align: center;
}

.logo_afixo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
}

.afixo{
    text-align: center;
}

.logo_tcnl{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
}

.tcnl{
    text-align: center;
}

.mais{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}

.mais1{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}

.mais2{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}
.mais3{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}

.textos{
    width: 100%;
    height: auto;
    top: 90%;
    position: absolute;
}