*{
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}
/*XXL*/
@media screen and (min-width: 1201px) {
    body{
    background-color: grey !important;
    }
    .logo{
        width: 250px;
        height: auto;
        top: 0;
        margin-left: 15px;
        margin-top: 15px;
    }
    /******************************************************/
    .pisco{
        width: 250px;
        height: auto;
        position: relative;
        left: 500px;
        top: 300px;
    }
    .nome_pisco{
        text-align: center;
        font-family: 'BaskOldFace', 'Baskerville Old Face';
        font-size: 64px;
    }
    .desc_pisco{
        text-align: center;
        font-size: 32px;
    }
    .img_pisco{
        width: 450px;
        height: auto;
        position: relative;
        margin-left: 15px;
    }
    /*******************************************************/
    .faisca{
        width: 250px;
        height: auto;
        position: absolute;
        right: 210px;
        top: 565px;
    }
    .nome_faisca{
        text-align: center;
        font-family: 'BaskOldFace', 'Baskerville Old Face';
        font-size: 64px;
    }
    .desc_faisca{
        text-align: center;
        font-size: 32px;
    }
    .img_faisca{
        width: 450px;
        height: auto;
        position: absolute;
        float: right;
        margin-left: 15px;
        top: 441px;
        right: 500px;
    }
    /**********************************************************/
    .trovao{
        width: 250px;
        height: auto;
        position: absolute;
        right: 210px;
        top: 1190px;
        float: right;
    }
    .nome_trovao{
        text-align: center;
        font-family: 'BaskOldFace', 'Baskerville Old Face';
        font-size: 64px;
    }
    .desc_trovao{
        text-align: center;
        font-size: 32px;
    }
    .img_trovao{
        width: 450px;
        height: auto;
        position: absolute;
        float: right;
        top: 1067px;
        right: 500px;
        margin-left: 15px;
    }
    /**************************************************************/
    .soneca{
        width: 250px;
        height: auto;
        position: relative;
        left: 500px;
        top: 300px;
    }
    .nome_soneca{
        text-align: center;
        font-family: 'BaskOldFace', 'Baskerville Old Face';
        font-size: 64px;
    }
    .desc_soneca{
        text-align: center;
        font-size: 32px;
    }
    .img_soneca{
        width: 450px;
        height: auto;
        position: relative;
        margin-left: 15px;
    }
}
/*XL*/
@media screen and (max-width: 1200px) {
    body{
    background-color: yellow !important;
    }
}
/*LARGE*/
@media screen and (max-width: 992px) {
    body{
    background-color: lightblue !important;
    }
}
/*MEDIUM*/
@media screen and (max-width: 768px) {
    body{
        background-color: green !important;
    }
}
/*SMALL*/
@media screen and (max-width: 576px) {
    body{
        background-color: orange !important;
    }
}