*{
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}
/*XXL*/
@media screen and (min-width: 1201px) {
    /*body{
    background-color: grey !important;
    }*/
    /*LOGOTIPOS CABEÇALHO*/
    .logo{
        width: 45%;
        height: auto;
        top: 0;
    }
    .menu_home{ /*botão sobre*/
        background-color: lightblue;
        width: auto;
        height: 30px;
        border-radius: 10%;
        text-align: center;
        font-family: 'BaskOldFace', 'Baskerville Old Face';
        font-size: 28px;
        color: white;
        position: absolute;
        right: 185px;
        top: 50px;
        padding: 3px;
        align-items: center;
        display: flex;
        
    }
    .menu_contacto{/*botão contacto*/
        background-color: lightblue;
        width: auto;
        height: 30px;
        border-radius: 10%;
        text-align: center;
        font-family: 'BaskOldFace', 'Baskerville Old Face';
        font-size: 28px;
        color: white;
        position: absolute;
        right: 320px;
        top: 50px;
        padding: 3px;
        align-items: center;
        display: flex;
    }
    .banner{
        margin-top: 5px;
        margin-bottom: 5px;
        height: 250px;
    }
    .linha1{
        display: flex;
        flex-flow: row wrap;
        position: absolute;
        top: 450px;
        width: 100%;
    }
    .coluna-20{
        width: 25%;
    }    
    .logo_bdf{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: auto;
    }
    .logocc{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: auto;
        margin-top: 0;
    }
    .logo_afixo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: auto;
    }
    .logo_tcnl{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: auto;
        margin-top: 20px;
    }
    .mySlides{
        display: none;
    } 
}
/*XL*/
@media screen and (max-width: 1200px) {
    body{
    background-color: yellow !important;
    }
     /*LOGOTIPOS CABEÇALHO*/
     .logo{
        width: 45%;
        height: auto;
        top: 0;
    }
    /*botão sobre*/
    .menu_home{ 
        background-color: grey;
        width: auto;
        height: 30px;
        border-radius: 10%;
        text-align: center;
        font-family: arial, serif;
        font-size: 28px;
        color: white;
        position: absolute;
        left: 50%;
        top: 35px;
        padding: 3px;
        align-items: center;
        display: flex;  
    }
    /*botão contacto*/
    .menu_contacto{
        background-color: grey;
        width: auto;
        height: 30px;
        border-radius: 10%;
        text-align: center;
        font-family: arial, serif;
        font-size: 28px;
        color: white;
        position: absolute;
        left: 65%;
        top: 35px;
        padding: 3px;
        align-items: center;
        display: flex;
    }
    .banner{
        margin-top: 50px;
        margin-bottom: 10px;
    }
    .linha1{
        display: flex;
        flex-flow: row wrap;
        position: absolute;
        top: 550px;
        left: 15px;
        width: 100%;
    }
    .coluna-20{
        width: 25%;
    }    
    .logo_bdf{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: auto;
    }
    .logocc{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: auto;
        margin-top: 15%;
    }
    .logo_afixo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: auto;
    }
    .logo_tcnl{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: auto;
    }
    .mySlides{
        display: none;
    } 
}
/*LARGE*/
@media screen and (max-width: 992px) {
   body{
    background-color: lightblue !important;
    }
    .logo{
        width: 45%;
        height: auto;
        top: 0;
    }
    .menu_home{
        background-color: grey;
        width: auto;
        height: 30px;
        border-radius: 10%;
        text-align: center;
        font-family: arial, serif;
        font-size: 28px;
        color: white;
        position: absolute;
        left: 50%;
        top: 20px;
        padding: 3px;
        align-items: center;
        display: flex;
        
    }
    .menu_contacto{
        background-color: grey;
        width: auto;
        height: 30px;
        border-radius: 10%;
        text-align: center;
        font-family: arial, serif;
        font-size: 28px;
        color: white;
        position: absolute;
        left: 65%;
        top: 20px;
        padding: 3px;
        align-items: center;
        display: flex;
    }
    .banner{
        margin-right: auto;
        margin-left: auto;
    }
    .linha1{
        display: flex;
        flex-flow: row wrap;
        position: absolute;
        top: 470px;
        left: 15px;
        width: 100%;
    }
    .coluna-20{
        width: 25%;
    }    
    .logo_bdf{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: auto;
    }
    .logocc{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: auto;
        margin-top: 15%;
    }
    .logo_afixo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: auto;
    }
    .logo_tcnl{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: auto;
    }
    .mySlides{
        display: none;
    }   
}
/*MEDIUM*/
@media screen and (max-width: 768px) {
    body{
        background-color: green !important;
    }
    .menu_contacto{
        display: none;
    }

    .menu_home{
        display: none;
    }

    .linha1{
        top: 350px;
    }
}
/*SMALL*/
@media screen and (max-width: 576px) {
    body{
        background-color: orange !important;
    }
    .menu_contacto{
        display: none;
    }
    .menu_home{
        display: none;
    }
    .linha1{
        top: 250px;
    }
}