*{
    box-sizing: border-box;
}
.logo{
    width: 650px;
    height: 150px;
    top: 0%;


}
.menu_home{ /*botão sobre*/
    background-color: grey;
    width: 120px;
    height: 40px;
    border-radius: 10%;
    text-align: center;
    font-family: arial, serif;
    font-size: 32px;
    color: white;
    position: absolute;
    left: 50%;
    top: 10%;
    
}
.menu_contacto{/*botão contacto*/
    background-color: grey;
    width: 150px;
    height: 40px;
    border-radius: 10%;
    text-align: center;
    font-family: arial, serif;
    font-size: 32px;
    color: white;
    position: absolute;
    left: 65%;
    top: 10%;
}

.logo_face{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 90%;
    top: 10%;
}

.logo_insta{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 95%;
    top: 10%;
}

.novidade{
    width: 50%;
    height: auto;
    position:absolute;
    left: 20%;
}