*{
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}
.logo{
    width: 50%;
    height: auto;
    top: 0%;
}
/*PÁGINA SOBRE*/

.sobre_titulo{
    text-align: center;
}
.texto_sobre{
    text-align: justify;
    font-size: 14px;
    margin-left: 10%;
}